* {
    margin: 0px;
}

.bg-grey {
    background: #f7f7f7;
}

section > .container{
    width: 1170px;
    margin: auto;
    display: block;

    padding: 30px 50px;
}

#nav-bar {
    text-align: center;
}
#about .container { 
    display: flex;
    grid-template-columns: 1fr 1fr;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color:white;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
  }
  .row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    .column1{
        border-radius: 50%;
    }
    .center {
        border-style: solid;
        border-color: coral;
        width: 50px;
        height: 30px;
       
        }
        tr { display: table-row;}
      .abc{
      height: 0;
      border: 2px solid blue ;
      width: 50px;
      flex:grid;
      }
      .abcd{
        height: 0;
        border: 2px solid grey;
        width: 50px;
        flex:grid;
      }
      .span{
        display: inline-block;
        width: 45px;
        height: 2px;
        background-color: blue;
        margin-right: 10px;
      }
      .acb{
        display: inline-block;
        width: 45px;
        height: 2px;
        background-color: grey;
        margin-right: 10px;
      }
      .flex-container1 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        background-color: #2196F3;
        padding: 10px;
      }
      
      .flex-container1 > div {
        background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  height:500px;
  background-color: white;
        
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-basis:30%;
      }
      .flex-container1 {
        display: flex;
        background-color: #f1f1f1;
      }
      
      .flex-container1 > div {
        background-color: white;
        
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        flex-basis:30%;
        color: black;
      }
      
      .acbs{
        display: inline-block;
        width: 45px;
        height: 2px;
        background-color: grey;
        margin-right: 10px;
      }
      
      
      
      
      